/* Basis styles */

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

body {
	max-width: 1200px;
	margin: 0 auto;
	background-color: azure;
}

/* Navigation */

nav ul {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	list-style: none;
	padding-left: 0;
}

nav ul li {
	position: relative;
	padding-right: 2em;
}

.dropdown > ul {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	z-index: 1;
	padding: 1em;
}

.dropdown > ul li {
	white-space: nowrap;
	padding: 0 2em;
}

.dropdown:hover > ul {
	display: block;
}

p {
	font-family: 'Titan One', cursive;
	margin-left: 4px;
}

h1 {
	font-family: 'Titan One', cursive;
	margin-left: 4px;
}

h2 {
	font-family: 'Titan One', cursive;
	margin-left: 4px;
}

article {
	padding: 3px;
}

#pic {
	width: 50vw;
}

li {
	font-family: 'Titan One', cursive;
}

#storyboard1 {
	width: 70%;
}

.image {
	width: 50vw;

	transform: scale(0.6)rotate(90deg) translateY(20vw);
}

.floating-menu {
	font-family: sans-serif;
	background: blue;
	padding: 5px;
	width: 170px;
	z-index: 100;
	position: fixed;
	left: 1vw;
	top: 10vw;
	border-radius: 25px;
}

.floating-menu a,
.floating-menu h3 {
	font-size: 0.9em;
	display: block;
	margin: 0 0.5em;
	color: white;
	font-family: 'Titan One', cursive;
}
